.my-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #333;
}

.list-group {
  list-style: none;
  width: 500px;
  margin: 0 auto;
}
