.my-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

.alert-dialog {
  background-color: #fff;
  width: 30vw;
  height: 30vh;
  left: 30vw;
  top: 30vh;
  position: absolute;
  z-index: 70%;
}
